<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666262779710-1opqcp4fm2gv6vkm4rsdakfvsl33cjhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666262779710-1opqcp4fm2gv6vkm4rsdakfvsl33cjhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDiFdNrZyZUZ6pSl2xfTfNb1FDkFJ9wq9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>666262779710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaa.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>final-project-1439f</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-1439f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666262779710:ios:e641418ea9b0beaa939e6f</string>
</dict>
</plist>